#numbers-row {
  margin-left: 310px;
}

#keyboard-row {
  display: flex;
  margin-left: 300px;
  padding-left: 0px;
  margin-right: 0px;
}

button {
  border-radius: 7px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  background-color: #ffffff;
}

button:hover {
  background-color: #7cdfd1;
  font-weight: bold;
}

.special-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.special-buttons button {
  width: 70px;
}

label {
  color: #ffffff;
  font-weight: bold;
}

input,
select {
  padding: 5px;
}



#letters-row button {
  width: 50px;

}


.DivTextArea {
  user-select: text;
  display: inline-block;
  width: 700px;
  padding: 10px 10px 50px;
  line-height: 1.15;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 3;
  outline: none;
  cursor: text;
  margin-left: 80px;
}



.screenDiv {
  position: relative;

}

#spacial_buttons {
  white-space: nowrap;
  justify-content: center;
  left: 86%;
  right: auto;
  bottom: 5px;
  display: flex;
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  justify-content: center;
}

.change_layout {
  background: rgb(101, 216, 201);
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 2px;
  max-width: 920px;
  width: 720px;
  margin: auto;
  margin-left: 80px;
}

.chooseLanguage {
  margin: 4px;
  padding: 6px 9px 6px 12px;
  direction: ltr;
  word-wrap: normal;
  font-weight: bold;
  background-color: rgb(20, 122, 139) !important;
  color: rgb(255, 255, 255);
}

.emojies,
.keyboardIcon {
  padding: 6px 9px 6px 12px;

}

.emojies img {
  width: 50%;
}


#letters-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
    max-width: 700px;
    justify-content: center;
  }


.emoji-keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* 10 columns */
  gap: 2px;
}

#additional-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 3 columns for the additional buttons grid */
  gap: 5px;
  margin-top: 10px;
  /* Adjust margin as needed */
}

.space {
  grid-column: span 5;
  /* span 2 columns for the space button */
}

.enter {
  grid-column: span 1;
  /* span 1 column for the enter button */

}

.backspace {
  grid-column: span 1;
  /* span 1 column for the backspace button */
}

.virtual_keyBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.keyboard-container {
  margin-left: 60px; /* Adjust margin as needed */
}


