#numbers-row {
  margin-left: 310px;
}



#keyboard-row {
  display: flex;
  margin-left: 300px;
  padding-left: 0px;
  margin-right: 0px;
}


button {
  border-radius: 7px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  background-color: #ffffff;
}

button:hover {
  background-color: #7cdfd1;
  font-weight: bold;
}

.special-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.special-buttons button {
  width: 70px;
}

label {
  color: #ffffff;
  font-weight: bold;
}

input,
select {
  padding: 5px;
}



#letters-row button {
  width: 50px;

}


.DivTextArea {
  user-select: text;
  display: inline-block;
  width: 700px;
  padding: 10px 10px 50px;
  line-height: 1.15;
  background: rgb(255, 255, 255);
  z-index: 3;
  outline: none;
  cursor: text;
  margin-left: 80px;
}



.screenDiv {
  position: relative;

}

#spacial_buttons {
  white-space: nowrap;
  justify-content: center;
  right: 5px;
  bottom: 5px;
  display: flex;
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  justify-content: center;
}

.change_layout {
  background: rgb(101, 216, 201);
  border-radius: 14px 14px 0px 0px;
  padding-bottom: 2px;
  max-width: 920px;
  width: 720px;
  margin: auto;
  margin-left: 80px;
}

.chooseLanguage {
  margin: 4px;
  padding: 6px 9px 6px 12px;
  direction: ltr;
  word-wrap: normal;
  font-weight: bold;
  background-color: rgb(20, 122, 139) !important;
  color: rgb(255, 255, 255);
}

.language-and-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
}

.icon {
  padding: 0px 9px 6px 12px;
}

.icon img {
  width: 50%; 
}
#keyboard-icon {
  height: 50%; 
  margin-left: 6px; 
}

#letters-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 700px;
  justify-content: center;
}


.emoji-keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* 10 columns */
  gap: 2px;
}

#additional-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 3 columns for the additional buttons grid */
  gap: 5px;
  margin-top: 10px;
  /* Adjust margin as needed */
}

.space {
  grid-column: span 4;
  /* span 2 columns for the space button */
}

.enter {
  grid-column: span 1;
  /* span 1 column for the enter button */

}

.backspace {
  grid-column: span 1;
  /* span 1 column for the backspace button */
}

.virtual_keyBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
 
}

.keyboard-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top */
  margin-left: 100px;
  /* Adjust margin as needed */
  margin-left: 100px;
  /* Adjust margin as needed */

}

.style-selector-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  /* Two rows: one for inputs and one for buttons */
  gap: 5px;
  margin-top: 20px;
  margin-left:27%;


}

.style-selector-container>div {
  margin: 5px;
  grid-column: span 1;
}

.style-selector-container label {
  margin-right: 5px;
  grid-column: span 1;
}

.style-selector-container button {
  margin-top: 5px;
  grid-column: span 1;

}



.active {
  background-color: rgb(20, 122, 139) !important;
}

#colorInput {
  padding: 0px;
  background-color: transparent;
  border: none;
  height: 70%;
  width: 100%;

}
