#numbers-row {
  margin-left: 310px;
}

#keyboard-row {
  display: flex;
  margin-left: 300px;
  padding-left: 0px;
  margin-right: 0px;
}

button {
  border-radius: 7px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  background-color: #ffffff;
}

button.size-xl {
  width: 120px;
  height: 36px;
}

button:hover {
  background-color: #7cdfd1;
  font-weight: bold;
  cursor: pointer;
}

.special-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.special-buttons button {
  width: 70px;
}

label {
  color: #ffffff;
  display: block;
  font-weight: bold;
  height: 24px;
}

input,
select {
  padding: 5px;
}

#letters-row button {
  width: 50px;
}

.DivTextArea {
  background: rgb(255, 255, 255);
  cursor: text;
  display: inline-block;
  line-height: 1.15;
  outline: none;
  padding: 10px 10px 50px;
  user-select: text;
  width: 100%;
  z-index: 3;
}
.DivTextArea.center {
  text-align: center;
}

.DivTextArea.right {
  text-align: right;
}


.screenDiv {
  position: relative;
  width: 100%;
  max-width: 920px;
}

#spacial_buttons {
  white-space: nowrap;
  justify-content: center;
  right: 5px;
  bottom: 5px;
  display: flex;
  overflow: auto;
  position: absolute;
  white-space: nowrap;
  justify-content: center;
}

.change_layout {
  background: rgb(101, 216, 201);
  border-radius: 14px 14px 0px 0px;
  margin: auto;
  /* max-width: 920px; */
  padding-bottom: 2px;
  /* width: 720px; */
}

.chooseLanguage {
  background-color: rgb(20, 122, 139) !important;
  color: rgb(255, 255, 255);
  direction: ltr;
  font-weight: bold;
  margin: 4px;
  padding: 6px 9px 6px 12px;
  word-wrap: normal;
}

.language-and-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.icon img {
  width: 50%;
}

#keyboard-icon {
  font-size: 50px; 
  cursor: pointer;
  margin-left: 8px;
}

#letters-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
}


.emoji-keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* 10 columns */
  gap: 2px;
}

#additional-buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 3 columns for the additional buttons grid */
  gap: 5px;
  margin-top: 10px;
  /* Adjust margin as needed */
}

.space {
  grid-column: span 4;
  /* span 2 columns for the space button */
}

.enter {
  grid-column: span 1;
  /* span 1 column for the enter button */

}

.backspace {
  grid-column: span 1;
  width: 95px;
  /* span 1 column for the backspace button */
}

.virtual_keyBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;

}

.keyboard-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}

.row.style-selector {
  margin-top: 16px;
}

.row.style-selector > * {
  margin-right: 5px;
  margin-left: 5px;
}

.active {
  background-color: rgb(20, 122, 139) !important;
}

#colorInput {
  padding: 0px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.highlighted {
  background-color: #7cdfd1;
  color: white;
}

.modal {
  font-size: 12px;
}

.modal > .header {
  background-color: rgb(101, 216, 201);
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 22px;
  text-align: center;
}
.modal > .content {
  width: 100%;
  font-size: 18px;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  padding: 0 !important;
  max-width: 450px;
}

.modal > .actions button,
.modal > .actions input[type="button"] {
  width: 120px; 
  height: 40px; 
}