#root {
  text-align: center;
}

html, body, #root {
  height: fit-content;
  margin: 0;
  width: 100%;
}

div { box-sizing: border-box; }

.d-none { display: none; visibility: hidden;}
.d-block { display: flex; }