#root {
  text-align: center;
}

html, body, #root {
  margin: 0;
  width: 100%;
}

div { box-sizing: border-box; }

.d-flex { display: flex; }
.d-block { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.align-items-center { align-items: center; }
.justify-center { justify-content: center; }