body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    font-family:  'Arial Narrow Bold', sans-serif;
    background-image: url(./images/360_F_512666986_hmuuM9fViSRbSuI7gtvRFBruuSOShxaI.jpg);
}